.elements {
  color: #000;
}

.elements__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-gap: 20px 17px;
  margin-top: 0;
  margin-bottom: 67px;
  padding: 0;
  list-style-type: none;
}

.element {
  background-color: #fff;
  border-radius: 10px;
  line-height: 0;
}

.element__image {
  border-radius: 10px 10px 0 0;
  height: 282px;
  width: 282px;
}

.element__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

.element__name {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like-button {
  width: 21px;
  height: 18px;
  background: url(../images/card-heart.svg) center no-repeat;
  background-size: 18px 21px;
  border: none;
  padding: 0;
  /* margin: 31px 0 30px; */

  transition: opacity 0.5s ease-out;

  cursor: pointer;
}

.element__like-button:hover {
  opacity: 0.5;
}

/* MEDIA QUERIES */
@media screen and (max-width: 320px) {
  .elements {
    margin-bottom: 48px;
    margin-left: 19px;
    margin-right: 19px;
  }
}
