.element {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  line-height: 0;
}

.element__image {
  border-radius: 10px 10px 0 0;
  height: 282px;
  width: 282px;
}

.element__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

.element__name {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like-button {
  width: 21px;
  height: 18px;
  background: url(../images/card-heart.svg) center no-repeat;
  background-size: 18px 21px;
  border: none;
  padding: 0;

  transition: opacity 0.5s ease-out;

  cursor: pointer;
}

.element__like-button_active {
  background-image: url(../images/card-heart-solid.svg);
}

.element__delete-card-button {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  background: url(../images/element-trash-can.svg) center no-repeat;
  background-size: 18px 19px;
  border: none;
  padding: 0;

  transition: opacity 0.5s ease-in-out;

  cursor: pointer;
}

.element__like-button:hover {
  opacity: 0.5;
}

.element__delete-card-button:hover {
  opacity: 0.6;
}
