.footer {
  /* align-self: start; */
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
}

.footer__copyright {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1em;
  color: #545454;
}

/* MEDIA QUERIES */
@media screen and (max-width: 320px) {
  .footer {
    margin: 0;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
