* {
  margin: 0;
  padding: 0;
}

.page {
  margin: 0 auto;
  align-content: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;

  background-color: #000;
  color: #fff;

  max-width: 1280px;
}

.page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 20px 60px;
}

/* MEDIA QUERIES */

/* 320px */
@media screen and (max-width: 320px) {
  .page__content {
    padding: 28px 0 36px;
  }
}

/* 321px <= width <= 636px */
@media screen and (min-width: 321px) and (max-width: 936px) {
  .page__content {
    padding: 45px 0 60px;
  }
}
