.profile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 51px;
}

.profile__avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;

  margin-right: 30px;
}

.profile__profile-info {
  display: grid;
  grid-template-columns: minmax(100px, max-content) auto;
  grid-template-areas:
    "heading button"
    "subtitle subtitle";
  margin-top: 22px;
  margin-bottom: 21px;
}

.profile__profile-heading {
  grid-area: heading;
  margin: 0;
  margin-bottom: 7px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__button-edit {
  margin: 0;
  margin-left: 18px;
  padding: 0;
  grid-area: button;
  align-self: center;
  background: transparent url(../images/profile-edit.svg) center no-repeat;
  border: solid #fff 1px;
  height: 24px;
  width: 24px;
  transition: opacity 0.5s ease-in;
  cursor: pointer;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

.profile__subtitle {
  grid-area: subtitle;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 373px;
  overflow: hidden;
}

.profile__button-add {
  margin-left: auto;
  padding: 0;
  background: transparent url(../images/add-plus.svg) center no-repeat;
  border: solid #fff 2px;
  height: 50px;
  width: 150px;
  align-self: center;
  border-radius: 2px;

  transition: opacity 0.5s ease-in;

  cursor: pointer;
}

.profile__button-add:hover {
  opacity: 0.6;
}

/* MEDIA QUERIES */
/* 775px */
@media screen and (max-width: 775px) {
  .profile__button-add {
    margin-left: 18px;
  }
}

@media screen and (max-width: 637px) {
  .profile {
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
  }

  .profile__avatar {
    margin: 0 0 30px 0;
  }
  .profile__profile-info {
    grid-template-columns: max-content auto;
    margin: 0 0 36px 0;
  }

  .profile__profile-heading {
    font-size: 22px;
    text-align: center;
    max-width: 254px;
    line-height: 27px;
    margin-bottom: 14px;
  }

  .profile__button-edit {
    height: 18px;
    width: 18px;
    margin-left: 10px;
    margin-top: 4px;
    align-self: start;
  }

  .profile__subtitle {
    font-size: 14px;
    text-align: center;
    max-width: 282px;
  }

  .profile__button-add {
    margin: 0;
    width: 282px;
  }
}
