.elements {
  color: #000;
  margin: 0;
}

.elements__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-gap: 20px 17px;
  margin-top: 0;
  margin-bottom: 67px;
  padding: 0;
  list-style-type: none;
}

/* MEDIA QUERIES */
/* 320px */
@media screen and (max-width: 637px) {
  .elements {
    margin-bottom: 48px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .elements__list {
    margin-bottom: 0;
  }
}
