.footer {
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
}

.footer__copyright {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

/* MEDIA QUERIES */
/* 320px */
@media screen and (max-width: 637px) {
  .footer {
    margin: 0;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 15px;
    padding: 0 19px;
  }
}
