.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin: auto;
  padding: 0 19px 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  width: 430px;
  background-color: #fff;
  padding: 34px 36px 37px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.modal__header {
  margin: 0 0 54px 0;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
}

.modal__header_align_margin {
  margin-bottom: 0;
}

.modal__close {
  position: absolute;
  padding: 0;
  width: 40px;
  height: 40px;
  top: -48px;
  right: -48px;
  background: url(../images/modal_close.svg) center no-repeat;
  background-size: 40px 40px;
  border: 0;
  transition: opacity 0.5s linear;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  border: none;
  max-width: 100%;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  padding: 0 0 13px 0;
}
.modal__label {
  display: flex;
  flex-direction: column;
  margin: 0 0 18px 0;
  border: none;

  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.modal__label:last-of-type {
  margin-bottom: 0;
}

.modal__error {
  width: 100%;
  height: 12px;
  padding: 5px 0 0 0;
  visibility: hidden;

  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
}

.modal__error_visible {
  visibility: visible;
}

.modal__input_type_error {
  border-bottom: solid rgba(255, 0, 0, 1) 1px;
}

.modal__save {
  color: #fff;
  background: rgba(0, 0, 0, 1);
  margin-top: 48px;
  padding: 14px 0 19px 0;
  border: none;
  border-radius: 2px;

  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;

  transition: opacity 0.5s linear;
  cursor: pointer;
}

.modal__save_align_margin {
  margin-top: 38px;
}

.modal__save:hover:not(:disabled) {
  opacity: 0.8;
}

.modal__button_disabled {
  cursor: default;
  opacity: 0.2;
  background-color: white;
  color: #000000;
  border: solid #000 1px;
}

.modal__container_background_transparent {
  background: transparent;
  padding: 0;
}

.modal__image {
  max-width: 75vh;
  max-height: 75vh;
}

.modal__image-title {
  margin: 10px 0 0 0;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (max-width: 800px) {
  .modal__header {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }

  .modal__container {
    min-width: 238px;
  }

  .modal__description {
    margin-bottom: 45px;
  }

  .modal__container {
    padding: 25px 22px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
    right: 0;
    top: -53px;
  }

  .modal__save {
    font-size: 14px;
    line-height: 17px;
  }
}
